# Database
DATABASE_URL="postgresql://postgres:pw@localhost:5432/university_clubs"

# Server
PORT=3000
NODE_ENV=development

# JWT
ACCESS_TOKEN_SECRET=your_super_secret_access_token_key_min_32_chars
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_key_min_32_chars
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_REMEMBER_ME_EXPIRES_IN=30d

# Cookie
COOKIE_SECRET=your_cookie_secret_key_min_32_chars

# Cors
CLIENT_URL=http://localhost:5173
